.menubar nav > ul > li > a:before,
.btn,
.progress-bar,
.progress.style2,
.btn.style2:hover,
.daan-counter > strong:before,
.volunteers-img > strong,
.event-img strong,
.galler-hover > a,
.galler-hover > a:before, 
.galler-hover > a:after,
.post-img > span,
.round-socials > a:hover,
.toggle-item h2.active:before,
.post-thumb:before,
blockquote strong:before,
.comment-detail > a,
.layer4,
.menubar .btn,
.choose-one li a.active,
.your-donation li a.active,
.select2-container--default .select2-results__option--highlighted[aria-selected],
.newsletter button.btn{
	background-color:#32767d;
}

a:hover,
a:active,
a:focus,
.mail a,
.socials > a:hover,
.simple-title h3 span,
.cause-progress > ul li span,
.about-text > ul li:before,
.daan-counter > strong span,
.title h2 span,
.become-vol > h2 i,
.event > span,
.column-title > h3 i,
.meta li,
.contact-infos li i,
.post-detail > span,
header.style2 .menubar nav > ul > li:hover > a,
.simple-cause > span,
.way i,
.time-block strong,
.breadcrumbs li,
.pagination li a:hover,
.widget-title > span,
.post-detail > span.views i,
.sidebar-cause > span i,
.widget ul.meta li i,
.sidebar-form button,
blockquote strong i,
.tags > a:hover,
.comment-detail span,
.subtitle span,
.daan-post.single-page > ul.fancy-list li:before,
.single-page ul.simple-list li:before,
.layer2 i,
.layer3 span,
.layer5 span,
.menubar nav ul li:hover > a,
nav > ul ul li.has-children:before,
.daan-popup > h2 i,
.progress-bar > span,
.donation-progress > strong i,
.donation-progress > strong span,
.form-title i,
.project-details h2 span,
.project-progress > span i,
.project-name > strong i,
.project-hover > span i{
	color:#32767d;
}

.volunteers-img > strong:before,
.event-img strong:before,
.galler-hover > a,
.post-img > span:before,
.testimonials-title,
.testimonials-carousel,
.testimonials-title:before,
.pagination li a:hover,
.your-donation li a.active{
	border-color:#32767d;
}



.slotholder:before,
.btn:hover,
.progress,
.progress.style2 .progress-bar,
.btn.style2,
.coloured:before,
.gallery-img:before,
.bottom-strip,
.time-block span,
.toggle-item h2:before,
.pagetop:before,
.comment-detail > a:hover,
#menu-btn,
.menu-links,
nav > ul ul,
header.stick:before,
.choose-one li a,
.popup-wrapper:before,
.close,
.daan-projects,
.project-name:before,
.project-hover:before{
	background-color:#423229;
}

.simple-title h3,
.simple-title > span,
.cause-progress > ul li strong,
.collected > strong,
.title > p,
.contact-infos li strong,
header.style2 .topbar > span,
header.style2 .topbar .mail,
header.style2 .socials > a,
header.style2 form.daan-search button,
header.style2 .menubar nav > ul > li > a,
.owl-nav > div:before,
.latest-posts.style2 .post-detail > h4,
blockquote strong,
.share-post .round-socials a,
.comment-detail > h5,
.single-page p strong,
.error-page > strong,
.donation-progress > strong,
h1, h2, h3, h4, h5, h6{
    color:#423229;
}

.newsletter > input,
header.style2 .socials > a,
.testimonials-carousel:before,
.pagination li span.current,
.share-post .round-socials a,
.project-img:before{
	border-color:#423229;
}

